@model Learner
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/ParentCSS/ParentViewChildProfile.css" />
<link rel="stylesheet" href="~/FontAwesome/css/all.min.css" />

    <header>
        <h1>Child Profile</h1>
    </header>

    <a class="container">
        <div class="profile-info">
            <div class="icon"><i class="fas fa-user"></i></div>
            <div class="name">@Model.Name @Model.Surname</div>
            <div class="grade">Grade @Model.Class.ClassDesignate</div>
        </div>

        <div class="details-box">
        <div class="teacher">CLASS TEACHER: @Model.Class.MainTeacher.Name @Model.Class.MainTeacher.Surname</div>
            <div class="subject">SUBJECTS:</div>
        @foreach (var subject in Model.Class.SubjectsTaught)
        {
            <div>@subject.ToUpper()</div>

        }
        </div>

        <a asp-controller="Parent" asp-action="ParentViewAnnouncements" class="button">ANNOUNCEMENTS</a>
        <a asp-controller="Parent" asp-action="ParentViewReports" class="button">REPORT</a>
        <a asp-controller="Parent" asp-action="ParentViewAttendance" class="button">ATTENDANCE</a>
        <a asp-controller="Teacher" asp-action="TeacherChatList" class="chat-button">
            <i class="fas fa-comments chat-icon"></i>
        </a>
    </a> <!-- Add closing </a> tag -->

