@model ParentModelViewModel<Learner>
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/ParentCSS/ParentViewChildProfile.css" />
<link rel="stylesheet" href="~/FontAwesome/css/all.min.css" />

<header>
    <h1>Child Profile</h1>
</header>

<div class="container">
    <div class="profile-info">
        <div class="icon"><i class="fas fa-user"></i></div>
        <div class="name">@Model.ActualModel.Name @Model.ActualModel.Surname</div>
        <div class="grade">Grade @Model.ActualModel.Class!.ClassDesignate</div>
    </div>

    <div class="details-box">
        @if (Model.ActualModel.Class.MainTeacher is not null)
        {
            <div class="teacher">CLASS TEACHER: @Model.ActualModel.Class.MainTeacher.Title @Model.ActualModel.Class.MainTeacher.Name @Model.ActualModel.Class.MainTeacher.Surname</div>
        }
        else
        {
            <div class="teacher">CLASS TEACHER: No main teacher assigned yet</div>
        }
        <div class="subject">SUBJECTS:</div>
        @foreach (var subject in Model.ActualModel.Class.SubjectsTaught)
        {
            <div>@subject.ToUpper()</div>
        }
    </div>    
</div> 
<a asp-action="ParentViewAnnouncements" asp-route-parentId="@Model.Parent.Id" class="button">ANNOUNCEMENTS</a>
<a asp-action="ParentChatList" asp-route-parentId="@Model.Parent.Id" class="chat-button">
    <i class="fas fa-comments chat-icon"></i>
</a>
