@model ParentModelViewModel<School>
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/ParentCSS/ParentSchoolProfile.css" />
<link rel="stylesheet" href="~/FontAwesome/css/all.min.css" />



<header>
    <h1>@Model.ActualModel.Name @Model.ActualModel.Type</h1>
</header>

<div class="content">
    <img src="@Model.ActualModel.SchoolLogoBase64" alt="@Model.ActualModel.Name @Model.ActualModel.Type" />

    <div class="profile-list">
        @foreach (var learner in Model.ActualModel.SchoolLearnersNP)
        {
            <a asp-action="ParentViewChildProfile" asp-route-learnerId="@learner.Id" asp-route-parentId="@Model.Parent.Id" class="button">
                <i class="fa-solid fa-user profile-icon"></i> @learner.Name @learner.Surname
                <i class="fa-solid fa-arrow-right arrow-icon"></i>
            </a>
        }
    </div>
</div>

