@model Parent
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/ParentCSS/ParentLandingPage.css" />
<link rel="stylesheet" href="~/FontAwesome/css/all.min.css" />

@{
    List<School> schools = [];
    Model.Children!.ToList().ForEach(lp => schools.Add(lp.Learner!.LearnerSchoolNP!));
    schools = schools.Distinct().ToList();
}

<div class="container">
    <div class="icon"><i class="fas fa-user"></i></div>
    <h2>@Model.Title @Model.Name @Model.Surname</h2>
    <div class="form-group-1">
        <a asp-action="ParentViewProfile" asp-route-parentId="@Model.Id" class="button">View Profile</a>
    </div>
    <br />
    <br />
    <div class="title">List of Schools:</div>
    <br />

    @foreach (var school in schools)
    {
        <div class="form-group">
            <a asp-action="ParentSchoolProfile" asp-route-parentId="@Model.Id" asp-route-schoolId="@school.Id" class="button">@school.Name.ToUpper() @school.Type.ToUpper()</a>
        </div>
        <br />
    }

    <br />
    <a asp-controller="Login" asp-action="Login" class="logout-button">LOGOUT</a>
</div>



