@model Learner
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/TeacherCSS/TeacherViewLearnerProfile.css" />
<link rel="stylesheet" href="~/FontAwesome/css/all.min.css" />

<div class="container">
    <div class="profile-section">
        <div class="profile-image">
            <div class="icon"><i class="fas fa-user"></i></div>
        </div>
    </div>

    <div class="table-section">
        <table>
            <tr>
                <td>@Html.DisplayNameFor(a => a.Name):</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(a => a.Surname):</td>
                <td>@Model.Surname</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(a => a.IdNo):</td>
                <td>@Model.IdNo</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(a => a.ClassCode):</td>
                <td>@Model.ClassCode</td>
            </tr>
            @if (Model.Class.MainTeacher is null)
            {
                <tr>
                    <td>Class Teacher:</td>
                    <td>No Main Teacher Assigned To This Class</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>Class Teacher:</td>
                    <td>@Model.Class.MainTeacher.Name @Model.Class.MainTeacher.Surname</td>
                </tr>
            }
            
            @foreach (var learnerParent in Model.Parents)
            {
                <tr>
                    <td colspan="2">@learnerParent.Parent.ParentType</td>
                </tr>
                <tr>
                    <td>Parent Name(s):</td>
                    <td>@learnerParent.Parent.Name @learnerParent.Parent.Surname</td>
                </tr>
                <tr>
                    <td>Parent Type:</td>
                    <td>@learnerParent.Parent.ParentType</td>
                </tr>
                <tr>
                    <td>Parent Phone Number:</td>
                    <td>@learnerParent.Parent.PhoneNumber</td>
                </tr>
                <tr>
                    <td>Parent Email:</td>
                    <td>@learnerParent.Parent.EmailAddress</td>
                </tr>
            }
        </table>
    </div>
</div>
