@model Teacher
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/TeacherCSS/TeacherViewProfile.css" />
<link rel="stylesheet" href="~/FontAwesome/css/all.min.css">

<div class="card">
    <div class="left-container">
        <div class="profile-image">
            <div class="icon">
                <i class="fas fa-user"></i>
            </div>
        </div>
        <h2 class="gradienttext">@Model.Name @Model.Surname</h2>
        <h2>@Model.Role</h2>
        <a asp-action="TeacherUpdateDetails" asp-route-id="@Model.Id" class="UpdateButton">Update</a>
    </div>
    <div class="right-container">
        <h3>Profile Details</h3>
        <table>
            <tr>
                <td>@Html.DisplayNameFor(n => n.Name)</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(n => n.Surname)</td>
                <td>@Model.Surname</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(i => i.StaffNr)</td>
                <td>@Model.StaffNr</td>
            </tr>
            
            <tr>
                <td>@Html.DisplayNameFor(e => e.PhoneNumber)</td>
                <td>@Model.PhoneNumber</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(e => e.EmailAddress)</td>
                <td>@Model.EmailAddress</td>
            </tr>
        </table>
    </div>
</div>
