@model ActorRegistrationViewModel
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/SysAdminCSS/RolesReg.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

@{
    Principal? principal = null;
    Teacher? teacher = null;
    Parent? parent = null;
    Learner? learner = null;
}

<div class="container">
    <div id="role_identifier">
        <button type="button" id="principal">
            <p>Principal</p>
        </button>
        <button type="button" id="teacher">
            <p>Teacher</p>
        </button>
        <button type="button" id="parent">
            <p>Parent</p>
        </button>
        <button type="button" id="learner">
            <p>Learner</p>
        </button>
    </div>

    <div class="icon"><i class="fas fa-user"></i></div>

    <div id="principal-div">

        <form asp-action="RolesReg" method="post" enctype="multipart/form-data">
            <div id="upload-title-name-surname">
                <div id="input-fields">
                    <div class="input-group">
                        <label asp-for="Principal.Title"></label>
                        <select asp-for="Principal.Title" id="title">
                            <option value="Mr" selected>Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Ms">Ms</option>
                            <option value="Miss">Miss</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label asp-for="Principal.Name"></label>
                        <input asp-for="Principal.Name" id="firstName" placeholder="Enter Name">
                        <span asp-validation-for="Principal.Name"></span>
                    </div>

                    <div class="input-group">
                        <label asp-for="Principal.Surname"></label>
                        <input asp-for="Principal.Surname" id="lastName" placeholder="Enter Surname">
                        <span asp-validation-for="Principal.Surname"></span>
                    </div>
                </div>
                <div id="upload-image">
                    <h3>Upload File</h3>
                    <div class="upload-container">
                        <button type="button" id="remove-file-Principal" class="remove-file" onclick="removeSelectedFile('uploadBox-Principal', 'fileNameDisplay-Principal', 'remove-file-Principal', 'uploadImageBtn-Principal', 'PrincipalPreviewImage')"><i class="fa-regular fa-circle-xmark"></i></button>
                        <button type="button" id="uploadImageBtn-Principal"><i class="fa-solid fa-upload"></i></button>
                        <input asp-for="Principal.ProfileImageFile" type="file" id="uploadBox-Principal" accept="image/*" style="display:none" />
                        <p id="fileNameDisplay-Principal">No file selected</p>
                        <img class="previewImage" id="PrincipalPreviewImage" alt="Could not display Image" title="Profile Image" />
                    </div>
                    <span asp-validation-for="Principal.ProfileImageFile"></span>
                </div>
            </div>

            <div class="input-group">
                <label asp-for="Principal.StaffNr"></label>
                <input asp-for="Principal.StaffNr" id="idNum" placeholder="Enter Staff Number">
                <span asp-validation-for="Principal.StaffNr"></span>
            </div>

            <div class="input-group">
                <label asp-for="Principal.Gender"></label>
                <select asp-for="Principal.Gender" id="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <div class="input-group">
                <label asp-for="Principal.EmailAddress"></label>
                <input asp-for="Principal.EmailAddress" id="email" placeholder="Enter Email Address">
                <span asp-validation-for="Principal.EmailAddress"></span>
            </div>

            <div class="input-group">
                <label asp-for="Principal.PhoneNumber"></label>
                <input asp-for="Principal.PhoneNumber" id="cellNumber" placeholder="Enter Phone Number">
                <span asp-validation-for="Principal.PhoneNumber"></span>
            </div>



            <input asp-for="Principal.SchoolID" type="hidden" value="@Model.SchoolID" />
            <input asp-for="Principal.Role" type="hidden" value="Principal" />
            <input asp-for="AdminID" type="hidden" value="@Model.AdminID" />
            <input asp-for="SchoolID" type="hidden" value="@Model.SchoolID" />

            <input asp-for="Teacher" type="hidden" value="@teacher" />
            <input asp-for="Parent" type="hidden" value="@parent" />
            <input asp-for="Learner" type="hidden" value="@learner" />

            <button type="submit" class="button">REGISTER</button>
        </form>
    </div>

    <div id="teacher-div" style="display:none">

        <form asp-action="RolesReg" method="post" enctype="multipart/form-data">
            <div id="upload-title-name-surname">
                <div id="input-fields">
                    <div class="input-group">
                        <label asp-for="Teacher.Title"></label>
                        <select asp-for="Teacher.Title" id="title">
                            <option value="Mr" selected>Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Ms">Ms</option>
                            <option value="Miss">Miss</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label asp-for="Teacher.Name"></label>
                        <input asp-for="Teacher.Name" id="firstName" placeholder="Enter Name">
                        <span asp-validation-for="Teacher.Name"></span>
                    </div>

                    <div class="input-group">
                        <label asp-for="Teacher.Surname"></label>
                        <input asp-for="Teacher.Surname" id="lastName" placeholder="Enter Surname">
                        <span asp-validation-for="Teacher.Surname"></span>
                    </div>
                </div>
                <div id="upload-image">
                    <h3>Upload File</h3>
                    <div class="upload-container">
                        <button type="button" id="remove-file-Teacher" onclick="removeSelectedFile('uploadBox-Teacher', 'fileNameDisplay-Teacher', 'remove-file-Teacher')" class="remove-file"><i class="fa-regular fa-circle-xmark"></i></button>
                        <button type="button" id="uploadImageBtn-Teacher"><i class="fa-solid fa-upload"></i></button>
                        <input asp-for="Teacher.ProfileImageFile" type="file" id="uploadBox-Teacher" accept="image/*" style="display:none" />
                        <p id="fileNameDisplay-Teacher">No file selected</p>
                    </div>
                    <span asp-validation-for="Teacher.ProfileImageFile"></span>
                </div>
            </div>

            <div class="input-group">
                <label asp-for="Teacher.StaffNr"></label>
                <input asp-for="Teacher.StaffNr" id="idNum" placeholder="Enter Staff Number">
                <span asp-validation-for="Teacher.StaffNr"></span>
            </div>

            <div class="input-group">
                <label asp-for="Teacher.Gender"></label>
                <select asp-for="Teacher.Gender" id="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <div class="input-group">
                <label asp-for="Teacher.EmailAddress"></label>
                <input asp-for="Teacher.EmailAddress" id="email" placeholder="Enter Email Address">
                <span asp-validation-for="Teacher.EmailAddress"></span>
            </div>

            <div class="input-group">
                <label asp-for="Teacher.PhoneNumber"></label>
                <input asp-for="Teacher.PhoneNumber" id="cellNumber" placeholder="Enter Phone Number">
                <span asp-validation-for="Teacher.PhoneNumber"></span>
            </div>

            <div id="subjectSelect" class="subject-select input-group">
                <label asp-for="Teacher.Subjects">Select Subjects</label>
                <input id="subjects-field" asp-for="Teacher.Subjects" readonly />
                <select asp-for="Teacher.Subjects" id="subjects" multiple>
                    <option class="subject-option" value="English">English</option>
                    <option class="subject-option" value="Mathematics">Mathematics</option>
                    <option class="subject-option" value="Social Sciences">Social Sciences</option>
                    <option class="subject-option" value="Economics">Economics</option>
                    <option class="subject-option" value="Afrikaans">Afrikaans</option>
                    <option class="subject-option" value="Life Orientation">Life Orientation</option>
                    <option class="subject-option" value="Life Skills">Life Skills</option>
                </select>
            </div>

            <input asp-for="Teacher.SchoolID" type="hidden" value="@Model.SchoolID" />
            <input asp-for="AdminID" type="hidden" value="@Model.AdminID" />
            <input asp-for="Teacher.Role" type="hidden" value="Teacher" />
            <input asp-for="SchoolID" type="hidden" value="@Model.SchoolID" />

            <input asp-for="Principal" type="hidden" value="@principal" />
            <input asp-for="Parent" type="hidden" value="@parent" />
            <input asp-for="Learner" type="hidden" value="@learner" />

            <button type="submit" class="button">REGISTER</button>
        </form>

        <hr />
        <h1>OR</h1>
        <hr />

        <form asp-action="RolesReg" method="post" enctype="multipart/form-data">

            <div id="bulk-upload">
                <h3>Upload File</h3>
                <div class="upload-container">
                    <button type="button" class="remove-file" id="remove-file-bulk-teacher" onclick="removeSelectedFile('uploadBox-bulk-teacher', 'fileNameDisplay-bulk-teacher', 'remove-file-bulk-teacher')"><i class="fa-regular fa-circle-xmark"></i></button>
                    <button type="button" id="uploadImageBtn-bulk-teacher"><i class="fa-solid fa-upload"></i></button>
                    <input asp-for="BulkLoadFile" type="file" id="uploadBox-bulk-teacher" accept="xlsx" style="display:none" />
                    <p id="fileNameDisplay-bulk-teacher">No file selected</p>
                </div>
                <span asp-validation-for="BulkLoadFile"></span>
            </div>

            <input asp-for="AdminID" type="hidden" value="@Model.AdminID" />
            <input asp-for="Actor" type="hidden" value="Teacher" />
            <input asp-for="SchoolID" type="hidden" value="@Model.SchoolID" />

            <input asp-for="Principal" type="hidden" value="@principal" />
            <input asp-for="Teacher" type="hidden" value="@teacher" />
            <input asp-for="Parent" type="hidden" value="@parent" />
            <input asp-for="Learner" type="hidden" value="@learner" />

            <button type="submit" class="button">Upload</button>
        </form>
    </div>

    <div id="parent-div" style="display:none">
        <form asp-action="RolesReg" method="post" enctype="multipart/form-data">
            <div id="upload-title-name-surname">
                <div id="input-fields">
                    <div class="input-group">
                        <label asp-for="Parent.Title"></label>
                        <select asp-for="Parent.Title" id="title">
                            <option value="Mr" selected>Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Ms">Ms</option>
                            <option value="Miss">Miss</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label asp-for="Parent.Name"></label>
                        <input asp-for="Parent.Name" id="firstName" placeholder="Enter Name">
                        <span asp-validation-for="Parent.Name"></span>
                    </div>

                    <div class="input-group">
                        <label asp-for="Parent.Surname"></label>
                        <input asp-for="Parent.Surname" id="lastName" placeholder="Enter Surname">
                        <span asp-validation-for="Parent.Surname"></span>
                    </div>
                </div>
                <div id="upload-image">
                    <h3>Upload File</h3>
                    <div class="upload-container">
                        <button type="button" id="remove-file-Parent" class="remove-file" onclick="removeSelectedFile('uploadBox-Parent', 'fileNameDisplay-Parent', 'remove-file-Parent')"><i class="fa-regular fa-circle-xmark"></i></button>
                        <button type="button" id="uploadImageBtn-Parent"><i class="fa-solid fa-upload"></i></button>
                        <input asp-for="Parent.ProfileImageFile" type="file" id="uploadBox-Parent" accept="image/*" style="display:none" />
                        <p id="fileNameDisplay-Parent">No file selected</p>
                    </div>
                </div>
            </div>

            <div class="input-group">
                <label asp-for="Parent.IdNo"></label>
                <input asp-for="Parent.IdNo" id="idNum" placeholder="Enter Identity Number">
                <span asp-validation-for="Parent.IdNo"></span>
            </div>

            <div class="input-group">
                <label asp-for="Parent.Gender"></label>
                <select asp-for="Parent.Gender" id="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <div class="input-group">
                <label asp-for="Parent.ParentType"></label>
                <select asp-for="Parent.ParentType">
                    <option value="Mother">Mother</option>
                    <option value="Father">Father</option>
                    <option value="Guardian">Guardian</option>
                </select>
            </div>

            <div class="input-group">
                <label asp-for="Parent.EmailAddress"></label>
                <input asp-for="Parent.EmailAddress" id="email" placeholder="Email Address">
                <span asp-validation-for="Parent.EmailAddress"></span>
            </div>

            <div class="input-group">
                <label asp-for="Parent.PhoneNumber"></label>
                <input asp-for="Parent.PhoneNumber" id="cellNumber" placeholder="Phone Number">
                <span asp-validation-for="Parent.PhoneNumber"></span>
            </div>

            @for (int i = 0; i < Model.Parent.Children.Count; i++)
            {
                <div id="children">
                    <div class="input-group">
                        <label asp-for="Parent.Children[i].LearnerIdNo"></label>
                        <input asp-for="Parent.Children[i].LearnerIdNo" />
                        <span asp-validation-for="Parent.Children[i].LearnerIdNo"></span>
                    </div>
                </div>

                <input asp-for="Parent.Children[i].ParentIdNo" type="hidden" id="p-IdNo" value="0496857496523" />
            }

            <input asp-for="AdminID" type="hidden" value="@Model.AdminID" />
            <input asp-for="Parent.Role" type="hidden" value="Parent" />
            <input asp-for="SchoolID" type="hidden" value="@Model.SchoolID" />

            <input asp-for="Principal" type="hidden" value="@principal" />
            <input asp-for="Teacher" type="hidden" value="@teacher" />
            <input asp-for="Learner" type="hidden" value="@learner" />

            <button type="submit" class="button">REGISTER</button>
        </form>

        <hr />
        <h1>OR</h1>
        <hr />

        <form asp-action="RolesReg" method="post" enctype="multipart/form-data">

            <div id="bulk-upload">
                <h3>Upload File</h3>
                <div class="upload-container">
                    <button type="button" class="remove-file" id="remove-file-bulk-parent" onclick="removeSelectedFile('uploadBox-bulk-parent', 'fileNameDisplay-bulk-parent', 'remove-file-bulk-parent')"><i class="fa-regular fa-circle-xmark"></i></button>
                    <button type="button" id="uploadImageBtn-bulk-parent"><i class="fa-solid fa-upload"></i></button>
                    <input asp-for="BulkLoadFile" type="file" id="uploadBox-bulk-parent" accept="xlsx" style="display:none" />
                    <p id="fileNameDisplay-bulk-parent">No file selected</p>
                </div>
                <span asp-validation-for="BulkLoadFile"></span>
            </div>

            <input asp-for="AdminID" type="hidden" value="@Model.AdminID" />
            <input asp-for="Actor" type="hidden" value="Parent" />
            <input asp-for="SchoolID" type="hidden" value="@Model.SchoolID" />

            <input asp-for="Principal" type="hidden" value="@principal" />
            <input asp-for="Teacher" type="hidden" value="@teacher" />
            <input asp-for="Parent" type="hidden" value="@parent" />
            <input asp-for="Learner" type="hidden" value="@learner" />

            <button type="submit" class="button">Upload</button>
        </form>
    </div>

    <div id="learner-div" style="display:none">

        <form asp-action="RolesReg" method="post" enctype="multipart/form-data">
            <div id="upload-title-name-surname">
                <div id="input-fields">
                    <div class="input-group">
                        <label asp-for="Learner.Title"></label>
                        <select asp-for="Learner.Title" id="title">
                            <option value="Mr" selected>Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Ms">Ms</option>
                            <option value="Miss">Miss</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label asp-for="Learner.Name"></label>
                        <input asp-for="Learner.Name" id="firstName" placeholder="Enter Name">
                        <span asp-validation-for="Learner.Name"></span>
                    </div>

                    <div class="input-group">
                        <label asp-for="Learner.Surname"></label>
                        <input asp-for="Learner.Surname" id="lastName" placeholder="Enter Surname">
                        <span asp-validation-for="Learner.Surname"></span>
                    </div>
                </div>
                <div id="upload-image">
                    <h3>Upload File</h3>
                    <div class="upload-container">
                        <button type="button" id="remove-file-Learner" class="remove-file" onclick="removeSelectedFile('uploadBox-Learner', 'fileNameDisplay-Learner', 'remove-file-Learner')"><i class="fa-regular fa-circle-xmark"></i></button>
                        <button type="button" id="uploadImageBtn-Learner"><i class="fa-solid fa-upload"></i></button>
                        <input asp-for="Learner.ProfileImageFile" type="file" id="uploadBox-Learner" accept="image/*" style="display:none" />
                        <p id="fileNameDisplay-Learner">No file selected</p>
                    </div>
                    <span asp-validation-for="Learner.ProfileImageFile"></span>
                </div>
            </div>

            <div class="input-group">
                <label asp-for="Learner.IdNo"></label>
                <input asp-for="Learner.IdNo" id="idNum-learner" placeholder="Identity Number">
                <span asp-validation-for="Learner.IdNo"></span>
            </div>

            <div class="input-group">
                <label asp-for="Learner.Gender"></label>
                <select asp-for="Learner.Gender" id="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <div class="input-group">
                <label asp-for="Learner.ClassCode"></label>
                <input asp-for="Learner.ClassCode" placeholder="Class Code (e.g., 8A)" />
                <span asp-validation-for="Learner.ClassCode"></span>
            </div>

            <div id="subjectSelect" class="subject-select input-group">
                <label asp-for="Learner.Subjects">Select Subjects</label>
                <input id="subjects-field-learner" asp-for="Learner.Subjects" readonly />
                <select asp-for="Learner.Subjects" id="subjects-learner" multiple>
                    <option class="subject-option" value="English">English</option>
                    <option class="subject-option" value="Mathematics">Mathematics</option>
                    <option class="subject-option" value="Social Sciences">Social Sciences</option>
                    <option class="subject-option" value="Economics">Economics</option>
                    <option class="subject-option" value="Afrikaans">Afrikaans</option>
                    <option class="subject-option" value="Life Orientation">Life Orientation</option>
                    <option class="subject-option" value="Life Skills">Life Skills</option>
                </select>
            </div>

            <h3>Parents</h3>
            @for (int i = 0; i < Model.Learner.Parents.Count; i++)
            {
                <input asp-for="Learner.Parents[i].LearnerIdNo" type="hidden" id="learner-idno" />

                <div id="upload-title-name-surname">
                    <div id="input-fields">
                        <div class="input-group">
                            <label asp-for="Learner.Parents[i].Parent.Title"></label>
                            <select asp-for="Learner.Parents[i].Parent.Title" id="title">
                                <option value="Mr" selected>Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Ms">Ms</option>
                                <option value="Miss">Miss</option>
                            </select>
                        </div>

                        <div class="input-group">
                            <label asp-for="Learner.Parents[i].Parent.Name"></label>
                            <input asp-for="Learner.Parents[i].Parent.Name" id="firstName" placeholder="Enter Name">
                            <span asp-validation-for="Learner.Parents[i].Parent.Name"></span>
                        </div>

                        <div class="input-group">
                            <label asp-for="Learner.Parents[i].Parent.Surname"></label>
                            <input asp-for="Learner.Parents[i].Parent.Surname" id="lastName" placeholder="Enter Surname">
                            <span asp-validation-for="Learner.Parents[i].Parent.Surname"></span>
                        </div>
                    </div>
                    <div id="upload-image">
                        <h3>Upload File</h3>
                        <div class="upload-container">
                            <button type="button" class="remove-file" id="remove-file-LearnerParent" onclick="removeSelectedFile('uploadBox-LearnerParent', 'fileNameDisplay-LearnerParent', 'remove-file-LearnerParent')"><i class="fa-regular fa-circle-xmark"></i></button>
                            <button type="button" id="uploadImageBtn-LearnerParent"><i class="fa-solid fa-upload"></i></button>
                            <input asp-for="Learner.Parents[i].Parent.ProfileImageFile" type="file" id="uploadBox-LearnerParent" accept="image/*" style="display:none" />
                            <p id="fileNameDisplay-LearnerParent">No file selected</p>
                        </div>
                        <span asp-validation-for="Learner.Parents[i].Parent.ProfileImageFile"></span>
                    </div>
                </div>

                <div class="input-group">
                    <label asp-for="Learner.Parents[i].ParentIdNo"></label>
                    <input asp-for="Learner.Parents[i].ParentIdNo" id="visible-parent-idno" placeholder="Parent ID Number" />
                    <span asp-validation-for="Learner.Parents[i].ParentIdNo"></span>
                </div>

                <input asp-for="Learner.Parents[i].Parent.IdNo" type="hidden" id="parent-idno" />

                <div class="input-group">
                    <label asp-for="Learner.Parents[i].Parent.Gender"></label>
                    <select asp-for="Learner.Parents[i].Parent.Gender">
                        <option value="Male" selected>Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>

                <div class="input-group">
                    <label asp-for="Learner.Parents[i].Parent.ParentType"></label>
                    <select asp-for="Learner.Parents[i].Parent.ParentType">
                        <option value="Mother">Mother</option>
                        <option value="Father">Father</option>
                        <option value="Guardian">Guardian</option>
                    </select>
                </div>

                <div class="input-group">
                    <label asp-for="Learner.Parents[i].Parent.EmailAddress"></label>
                    <input asp-for="Learner.Parents[i].Parent.EmailAddress" placeholder="Parent Email Address" />
                    <span asp-validation-for="Learner.Parents[i].Parent.EmailAddress"></span>
                </div>

                <div class="input-group">
                    <label asp-for="Learner.Parents[i].Parent.PhoneNumber"></label>
                    <input asp-for="Learner.Parents[i].Parent.PhoneNumber" placeholder="Parent Phone Number" />
                    <span asp-validation-for="Learner.Parents[i].Parent.PhoneNumber"></span>
                </div>

                <input asp-for="Learner.Parents[i].Parent.Role" value="Parent" type="hidden" />
            }

            <input asp-for="Learner.SchoolID" type="hidden" value="@Model.SchoolID" />
            <input asp-for="AdminID" type="hidden" value="@Model.AdminID" />
            <input asp-for="Learner.Role" type="hidden" value="Learner" />
            <input asp-for="SchoolID" type="hidden" value="@Model.SchoolID" />

            <input asp-for="Principal" type="hidden" value="@principal" />
            <input asp-for="Teacher" type="hidden" value="@teacher" />
            <input asp-for="Parent" type="hidden" value="@parent" />

            <button type="submit" class="button">REGISTER</button>
        </form>

        <hr />
        <h1>OR</h1>
        <hr />

        <form asp-action="RolesReg" method="post" enctype="multipart/form-data">

            <div id="bulk-upload">
                <h3>Upload File</h3>
                <div class="upload-container">
                    <button type="button" class="remove-file" id="remove-file-bulk-learner" onclick="removeSelectedFile('uploadBox-bulk-learner', 'fileNameDisplay-bulk-learner', 'remove-file-bulk-learner')"><i class="fa-regular fa-circle-xmark"></i></button>
                    <button type="button" id="uploadImageBtn-bulk-learner"><i class="fa-solid fa-upload"></i></button>
                    <input asp-for="BulkLoadFile" type="file" id="uploadBox-bulk-learner" accept="xlsx" style="display:none" />
                    <p id="fileNameDisplay-bulk-learner">No file selected</p>
                </div>
                <span asp-validation-for="BulkLoadFile"></span>
            </div>

            <input asp-for="AdminID" type="hidden" value="@Model.AdminID" />
            <input asp-for="Actor" type="hidden" value="Learner" />
            <input asp-for="SchoolID" type="hidden" value="@Model.SchoolID" />

            <input asp-for="Principal" type="hidden" value="@principal" />
            <input asp-for="Teacher" type="hidden" value="@teacher" />
            <input asp-for="Parent" type="hidden" value="@parent" />
            <input asp-for="Learner" type="hidden" value="@learner" />

            <button type="submit" class="button">Upload</button>
        </form>
    </div>
</div>

<script src="~/js/site.js"></script>
<script src="~/js/SysAdminJS/RolesReg.js"></script>

