@model ActorSchoolViewModel<SysAdmin>
<link rel="stylesheet" href="~/css/SysAdminCSS/SchoolReg.css" />
<link rel="stylesheet" href="~/FontAwesome/css/all.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

@{
    Layout = null;
}

<div class="container">
    <div class="icon">
        <i class="fa-solid fa-school"></i>
    </div>
    <br />

    <form asp-action="SchoolReg" method="post">
        <div class="form-group">
            <label asp-for="School.Name"></label>
            <input asp-for="School.Name" id="schoolName" placeholder="@Html.DisplayNameFor(s => s.School.Name)">
            <span asp-validation-for="School.Name"></span>
        </div>

        <div class="form-group">
            <label asp-for="School.EmisNumber"></label>
            <input asp-for="School.EmisNumber" id="emisNumber" placeholder="@Html.DisplayNameFor(s => s.School.EmisNumber)">
            <span asp-validation-for="School.EmisNumber"></span>
        </div>

        <div class="form-group">
            <label asp-for="School.Type"></label>
            <select asp-for="School.Type">
                <option value="Primary" selected>Primary School</option>
                <option value="High">High School</option>
                <option value="Combined">Combined School</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="School.TelePhoneNumber"></label>
            <input asp-for="School.TelePhoneNumber" id="telephoneNumber" placeholder="@Html.DisplayNameFor(s => s.School.TelePhoneNumber)">
            <span asp-validation-for="School.TelePhoneNumber"></span>
        </div>

        <div class="form-group">
            <label asp-for="School.EmailAddress"></label>
            <input asp-for="School.EmailAddress" id="emailAddress" placeholder="@Html.DisplayNameFor(s => s.School.EmailAddress)">
            <span asp-validation-for="School.EmailAddress"></span>
        </div>

        <input asp-for="School.SystemAdminId" type="hidden" value="@Model.School.SystemAdminId" />

        <!--Physical Address-->
        <div class="form-group">
            <label for="Name">Physical Address:</label><br>
            <input asp-for="School.SchoolAddress.Street" id="address1" placeholder="@Html.DisplayNameFor(s => s.School.SchoolAddress.Street)">
            <span asp-validation-for="School.SchoolAddress.Street"></span>
        </div>

        <!-- Address 2 -->
        <div class="form-group">
            <input asp-for="School.SchoolAddress.Suburb" id="address2" placeholder="@Html.DisplayNameFor(s => s.School.SchoolAddress.Suburb)">
            <span asp-validation-for="School.SchoolAddress.Suburb"></span>
        </div>

        <!-- City -->
        <div class="form-group">
            <input asp-for="School.SchoolAddress.City" id="city" placeholder="@Html.DisplayNameFor(s => s.School.SchoolAddress.City)">
            <span asp-validation-for="School.SchoolAddress.City"></span>
        </div>

        <!-- Province and Postal Code -->
        <div class="form-group row">
            <div>
                <input asp-for="School.SchoolAddress.Province" id="province" placeholder="@Html.DisplayNameFor(s => s.School.SchoolAddress.Province)">
                <span asp-validation-for="School.SchoolAddress.Province"></span>
            </div>
            <br>
            <div>
                <input asp-for="School.SchoolAddress.PostalCode" id="postal-code" placeholder="@Html.DisplayNameFor(s => s.School.SchoolAddress.PostalCode)">
                <span asp-validation-for="School.SchoolAddress.Street"></span>
            </div>
        </div>

        <button class="button">REGISTER</button>
    </form>

</div>
