@model ActorSchoolViewModel<SysAdmin>
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/SysAdminCSS/SysAdminViewProfile.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="card">
    <div class="left-container">
        <div class="profile-image">
            <div class="icon"><i class="fas fa-user"></i></div>
        </div>
        <h2 class="gradienttext">@Model.Actor.Name @Model.Actor.Surname <br /> @Model.Actor.Role </h2>
        <a asp-action="SysAdminUpdateDetails" asp-route-id="@Model.Actor.Id" class="UpdateButton">Update</a>
    </div>
    <div class="right-container">
        <h3>Profile Details</h3>
        <table>
            <tr>
                <td>@Html.DisplayNameFor(s => s.Actor.Name)</td>
                <td>@Model.Actor.Name</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(s => s.Actor.Surname)</td>
                <td>@Model.Actor.Surname</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(s => s.Actor.StaffNr)</td>
                <td>@Model.Actor.StaffNr</td>
            </tr>
            <tr>
                <td>Emis Number</td>
                @{
                    if (Model.School is null)
                    {
                        <td>This admin hasn't registered a school yet</td>
                    }
                    else
                    {
                        <td>@Model.School.EmisNumber</td>
                    }
                }
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(s => s.Actor.PhoneNumber)</td>
                <td>@Model.Actor.PhoneNumber</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(s => s.Actor.EmailAddress)</td>
                <td>@Model.Actor.EmailAddress</td>
            </tr>
        </table>
    </div>
</div>
