@model SysAdmin
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/SysAdminCSS/SysAdminLandingPage.css" />
<link rel="stylesheet" href="~/FontAwesome/css/all.min.css">


<div class="container">
    <div class="icon"><i class="fas fa-user"></i></div>
    <h2>@Model.Name @Model.Surname</h2>
    <div class="form-group-1">
        <a asp-action="SysAdminViewProfile" asp-route-id="@Model.Id" class="button">View Profile</a>
    </div>
    <br />
    <br />
    @if (Model.SysAdminSchoolNP is null)
    {
        <div class="form-group">
            <a asp-action="SchoolReg" asp-route-id="@Model.Id" class="button">Register School</a>
        </div>
    }
    else
    {
        <div class="form-group opaque">
            <a class="button">Register School</a>
        </div>
    }
    <br />
    @if (Model.SysAdminSchoolNP is not null)
    {
        <div class="form-group">
            <a asp-action="RolesReg" asp-route-id="@Model.Id" class="button">Register Roles</a>
        </div>
    }
    else
    {
        <div class="form-group opaque">
            <a class="button">Register Roles</a>
        </div>
    }
    <br />
    <br />
    <br />
    <a asp-controller="Login" asp-action="Login" class="logout-button">LOGOUT</a>
</div>

