@model IEnumerable<ActorAnnouncementViewModel<Principal>>
@{
    Layout = null;
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/css/PrincipalCSS/PrincipalViewAnnouncements.css" />
<link rel="stylesheet" href="~/FontAwesome/css/all.min.css">
<link rel="stylesheet" href="~/FontAwesome/css/all.css">

<div id="header">
    <h1>
        <i class="fas fa-bullhorn"></i>
        Announcements
    </h1>
</div>

<body>
    <div class="container">
        <div class="search">
            <div class="total">Total:@Model.Count()</div>
            <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>

        @foreach (var value in Model)
        {
            <div class="announcement">
                @if (value.Announcement.PrincipalID is not null)
                {
                    <i class="fa-regular fa-circle-check icon"></i>
                    <div class="details">
                        <h4 class="title">@value.Announcement.Title</h4>
                        <div class="content">@value.Announcement.Content</div>
                    </div>
                    <a asp-action="PrincipalDetailedAnnouncement" asp-route-id="@value,Announcement.AnnouncementId" style="display:none;"></a>
                    <a asp-action="DeleteAnnouncement" asp-route-id="@value.Announcement.AnnouncementId" asp-route-principalId="@value.Announcement.PrincipalID">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                }
                else
                {
                    if (value.Announcement.ViewedRecipients.Contains(value.Actor.StaffNr))
                    {
                        <i class="fa-regular fa-circle-check icon"></i>
                    }
                    else
                    {
                        <i class="fa-regular fa-circle icon"></i>
                    }
                    <div class="details">
                        <h4 class="title">@value.Announcement.Title</h4>
                        <div class="content">@value.Announcement.Content</div>
                    </div>
                    <a asp-action="PrincipalDetailedAnnouncement" asp-route-id="@value.Announcement.AnnouncementId" asp-route-principalStaffNr="@value.Actor.StaffNr" style="display:none;"></a>
                    <i class="fa-regular fa-trash-can opaque"></i>
                }
            </div>
        }
    </div>
</body>

<script src="~/js/Principal/PrincipalViewAnnouncement.js"></script>



