@model Principal
<link rel="stylesheet" href="~/css/PrincipalCSS/PrincipalLandingPage.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
@{
    Layout = null;
}

<div class="container">
    <div class="icon"><i class="fas fa-user"></i></div>
    <h2>@Model.Title @Model.Name @Model.Surname</h2>
    <div class="form-group-1">
        <a asp-action="PrincipalViewProfile" asp-route-id="@Model.Id" class="button">View Profile</a>
    </div>
    <br />
    <br />
    <div class="form-group">
        <a asp-action="PrincipalMakeAnnouncements" asp-route-id="@Model.Id" class="button">Make Announcements</a>
    </div>
    <br />
    <div class="form-group">
        <a asp-action="PrincipalViewAnnouncements" asp-route-id="@Model.Id" class="button">View Announcements</a>
    </div>
    <br />
    <div class="form-group">
        <a asp-action="SchoolManagementLandingPage" asp-controller="School" asp-route-schoolId="@Model.SchoolID" class="button">Manage School</a>
    </div>
    <br />
    <div class="form-group">
        <a asp-controller="Principal" asp-action="PrincipalViewGrades" class="button">Grades</a>
    </div>
    <br />
    <br />
    <br />
    <a asp-controller="Login" asp-action="Login" class="logout-button">LOGOUT</a>
</div>

