@model SubGrade
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/PrincipalCSS/PrincipalGradeLandingPage.css" />
<link rel="stylesheet" href="~/FontAwesome/css/all.min.css">

<div class="container">
    <div class="profile-info">
        <div class="icon"><i class="fas fa-user"></i></div>
        <div class="name">Class @Model.ClassDesignate</div>
    </div>

    <div class="details-box">
        <div class="teacher">CLASS TEACHER: @Model.MainTeacher.Title @Model.MainTeacher.Name @Model.MainTeacher.Surname</div>
        <div class="subject">SUBJECTS TAUGHT:</div>
        @foreach (var subject in Model.SubjectsTaught)
        {
            <div>@subject.ToUpper()</div>
        }
    </div>
    <br />
    <a asp-controller="Principal" asp-action="PrincipalViewAttendance" class="button">View Attendance</a>
    <a asp-controller="Principal" asp-action="PrincipalViewReports" class="button">View Report</a>
        
</div>
   
